doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo

      if loggedIn
        ul
          li
            a(href="/account/logout") Logout
          li
            a(href="/inbox") Inbox
          li
            a(href="/outbox") Outbox
          li.nav-item
            a.color-light(href="/global") Global
      else
        ul
          li
            a(href="/account/logout") Login
          li.nav-item
            a.color-light(href="/global") Global

    global
      center-column
        for snippet, index in snippets
          - console.log('Client side snippet forwardcount:', snippet.forwardcount)
          - console.log('Client side snippetContents:', snippetContents[index].description)
          snippet(id=snippet.snippetid)
            title-holder
              h1 #{snippetContents[index].description}
            img(src=snippetContents[index].content)
            info-holder
              if index+1 == 1
                h1 🥇 #{snippet.forwardcount} forwards
              else if index+1 == 2
                h1 🥈 #{snippet.forwardcount} forwards
              else if index+1 == 3
                h1 🥉 #{snippet.forwardcount} forwards
              else 
                h1 #{snippet.forwardcount} forwards
  
  +create-footer
