doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a(href="/account/login") Login
        li
          a(href="/inbox") Inbox
        li
          a(href="/outbox") Outbox
        li.nav-item
          a.color-light(href="/global") Global

    global
      center-column
        //- for snippet, index in snippets
        //-   row
        //-     snippet(href="index" id=snippet.snippetid)
        //-       info
        //-         description #{snippet.description}
        //-         from #{snippet.alias}
        //-       img(src=snippet.content)
        snippet(href="index" id='1')
          title-holder
            h1 Description 1
          img(src='https://i.imgur.com/DccRRP7.jpg')
        snippet(href="index" id='2')
          title-holder
            h1 Description 2
          img(src='https://i.imgur.com/DccRRP7.jpg')
  
  +create-footer
